body {
    text-align:center;
    box-sizing:border-box;
    margin:0;
    top: 0;
    background-color: brown;
    background-image: url('/assets/small/robertas.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    cursor: url(https://cur.cursors-4u.net/food/foo-2/foo165.cur), auto !important;
    color: #4a5054;
    max-width: 100%;
    overflow-x: hidden;
}
* {
    box-sizing: inherit;
}
h1, h2, h3 {
    font-family: 'Bebas Neue', sans-serif;
}
h1 {
    font-family: 'Bebas Neue', sans-serif;
    margin: 10px;
}
.links {
    text-decoration: none;
    color: white;
    padding: 8px;
    border: 1px solid #d7e0ef;
    border-radius: 6px;
    margin: 4px;
    transition: background-color .7s ease;
    display:inline-block;
    background-color: green;
    font-family: sans-serif
}

.links:hover {
    background-color: darkgreen;
}
.bodyContainer, .headerContainer {
    width: 60%;
    margin: auto;
    background-color: white;
    font-family: sans-serif
}

.headerContainer {
    position: -webkit-sticky;
	position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index:5;
}

.hidden {
    display: none;
}

.names {
    width: 80%;
}

.bodyContainer {
    padding: 0 10px;
    min-height: 100vh;

}
.silouette {
    top: 0;
    position: fixed;
    z-index:10;
}
.amanda { 
    left: 75%;
}
.evan {
    right: 75%;
}
.silouette img {
    width: 200px;
    height: 99vh;
}

.nav_links {
	position: -webkit-sticky;
	position: sticky;
	top: 75px;
    padding-top: 20px;
    background: white;
}
.whenText {
    margin-bottom: 0;
}

.schedule-container {
    font-family: 'Bebas Neue', sans-serif;
    text-align: left;
    max-width: 250px;
    margin: auto;
    margin-top: 30px;
    font-size: 18px;
    display: inline-block;
}
.time {
    font-size: 24px;
    padding-right: 10px
}

@media only screen and (max-width: 1200px) {
    .nav_links {
        top: 55px;
    }
}

@media only screen and (max-width: 900px) {
    .nav_links {
        top: 40px;
    }
}

@media only screen and (max-width: 600px) {
    .bodyContainer, .headerContainer {
        width: 80%;
    }
    .names {
        width: 90%;
    }
    .nav_links {
        top: 40px;
    }
    .silouette {
        display: none;
    }
}

.faq {
    margin: 16px;
    text-align: left;
}

.faq-question {
    font-size: 16px;
    margin-bottom: 8px;
    font-weight: bold;
}

.faq-answer {
    font-size: 14px;
}